{% extends "layout.html" %}
{% block site %}
{% if topics|length %}
<ul>
    {% for topic in topics %}
    {% if topic.is_upvoted %}
    <li><span class="upvote voted"><a href="/upvote/{{ topic.topic_id }}">&#9650;</a></span> <a href="/read/{{ topic.topic_id }}" class="topic">{{ topic.name }}</a> (<b>{{ topic.posts }}</b> posts) <br />
    <i>{{ topic.user }}</i> on {{ topic.created_at }}</li>
    {% else %}
    <li><span class="upvote" title="Upvote this topic"><a href="/upvote/{{ topic.topic_id }}">&#9650;</a></span> <a href="/read/{{ topic.topic_id }}" class="topic">{{ topic.name }}</a> (<b>{{ topic.posts }}</b> posts) <br />
    <i>{{ topic.user }}</i> on {{ topic.created_at }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% if show_more > 0 %}
<a href="/{{ show_more }}">Show more topics</a>
{% endif %}
{% else %}
<h2>No topics yet, post first one!</h2>
{% endif %}

<div class="new-topic"><a href="/new_topic">Post new topic</a></div>
{% endblock %}