{% extends "layout.html" %}
{% block site %}
<h2>{{ topic.name }}</h2>
<div class="posts">
    {% for post in posts %}
    <div id="post-{{ post.post_id }}" class="post" style="margin-left: {{ post.indent_for_html }}">
        <div class="post-id">
            {% if post.reply_to %}
            Message {{ post.post_id }} in <a href="#post-{{ post.reply_to }}">reply to {{ post.reply_to }}</a>
            {% else %}
            Message {{ post.post_id }}
            {% endif %}
        </div>
        {% if post.is_deleted %}
        <i>&#10071; This post has been deleted</i>
        {% else %}
            {% for para in post.content_for_html %}
            <p>{{para}}</p>
            {% endfor %}
        
            <div class="post-footer">
                <div class="message-tools">
                    <a href="/post_reply/{{ topic.topic_id }}/{{ post.post_id }}"><span>&#8617;</span>  reply and quote</a>
                    {% if can_delete %}
                    <form class="delete-form" action="/delete_post" method="POST">
                        <input type="submit" value="delete">
                        <input type="hidden" name="topic_id" value="{{ topic.topic_id }}" />
                        <input type="hidden" name="post_id" value="{{ post.post_id }}" />
                        <input type="hidden" name="token" value="{{ session.csrf_token }}">
                    </form>
                    {% endif %}
                </div>
                <i>
                    {% if post.user_id != session.user_id %}
                    <a href="/message_user/{{ post.user_id }}" title="Send private message to {{ post.user }}">&#128231;</a>
                    {% endif %}
                    {{ post.user }} on {{ post.created_at }}
                </i>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="message-tools"><a href="/post_reply/{{ topic.topic_id }}">Compose new reply</a></div>
{% endblock %}
